* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

li {
  width: 400px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}


.container-user {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.info-user {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 20px;
  width: 70%;
  box-shadow: 6px 7px 22px 1px rgba(20,18,18,0.75);
-webkit-box-shadow: 6px 7px 22px 1px rgba(20,18,18,0.75);
-moz-box-shadow: 6px 7px 22px 1px rgba(20,18,18,0.75);

}

.info-user h2 {
  height: 65px;
}

.img-user {
  width: 100px;
}

.img-user img {
  width: 100%;
}

.company-user {

}

